<nav>
    <ul>
        <li class="active"><a href="/">Home</a>  <div class="indicate"></div></li>
        <li><a href="/gallery">Gallery</a> <div class="indicate"></div></li>
        <li><a href="/gallery/about">About</a> <div class="indicate"></div></li>
    </ul>
</nav>