<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student: Dashboard</title>
    <link rel="stylesheet" href="/styles/student.css">
</head>
<body>
    <article class="contain">
        <div class="notification">
            <div class="bell">
                <i class="fa-solid fa-bell fa-xl" style="color: #0f1115; transform: rotate(30deg);"></i>
            </div>
                <div class="announcement message">
                    <h3>Announcements</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis magnam, porro nostrum quibusdam hic delectus aliquid non ullam in voluptas dolores totam cum officiis, vero modi ipsum magni error facilis minima quisquam soluta molestias commodi libero dignissimos. Dolores impedit aperiam animi quam doloribus inventore fugiat!</p>
                </div>
        </div>
        <section class="user">
            <div class="user-profile">
                <div class="picture">
                    <img src="/images/user3.png" alt="passport" width="200" height="200">
                </div>
                <div class="name">
                    <h2 class="common">Oguntola Damilola</h2>
                    <h3 class="common" style="font-family: monospace;">damisco005@gmail.com</h3>
                </div>
            </div>
            <div class="recieved-messages">
                <h3 class="title">Messages</h3>
                <div class="contain-msg initial-state">
                    <div class="msg common"><span>Images</span></div>
                    <div class="msg common"><span>Document</span></div>
                    <div class="msg common"><span>Texts</span></div>
                </div>
            </div>
            <div class="courses">
                <h3 class="title">Courses</h3>
                <div class="contain-courses initial-state">
                    <div class="offering common"><span>COM 214</span></div>
                    <div class="offering common"><span>COM 223</span></div>
                    <div class="offering common"><span>COM 301</span></div>
                </div>
            </div>
            <div class="settings"><span>Settings</span>
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="setting-preview">
                <a href="/logout">
                    <div><span style="color: red;">Logout</span> <span><i class="fa-solid fa-arrow-right-from-bracket" style="color: red;"></i></span></div>
                </a>
                <div class="sendMessage"><span>Complain</span> <span><i class="fa-solid fa-message" style="color: blue;"></i></span></div>
            </div>
        </section>
        <main>
                <header>
            <h1>
                Welcome Oguntola, 
                </h1>
                </header>
                <section class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime qui natus dolores, ut enim officia nulla autem molestias incidunt dolor temporibus earum fugit perferendis labore dolorum aut provident recusandae facere. Cum amet ad suscipit, provident architecto veniam nulla facere perferendis quia molestiae, culpa reiciendis eos aliquam exercitationem. Sint, temporibus recusandae? Ut modi repellendus mollitia, alias magni sequi doloremque odio quod error! Libero debitis iste exercitationem culpa ab hic expedita quos non. Dignissimos, eos. Est officiis sequi, ratione aperiam laboriosam error libero adipisci ullam dignissimos eveniet dolores corrupti id dolore nesciunt laborum et explicabo voluptate alias quas cumque, quod nulla sed suscipit. Tempore repellendus officiis dolorem est rerum, aliquam, fugit optio sunt praesentium quisquam vero reprehenderit aperiam mollitia. Recusandae, nesciunt molestiae minus nihil magni porro ea, incidunt omnis architecto, at ut exercitationem voluptates placeat natus. Maiores ducimus rem iure, exercitationem, doloribus commodi fugiat cumque reprehenderit placeat id, repellat autem fuga dolor soluta temporibus tenetur mollitia amet veritatis ut molestiae aperiam consequatur. Sed architecto hic illum nihil corrupti! Vero officiis ex earum assumenda id vel quibusdam enim, pariatur animi odit deleniti quod placeat harum neque dolor soluta quis molestiae magnam sit quo! Veniam, unde? Ex tempora, non, cum praesentium laborum explicabo nemo impedit dolor minus itaque libero hic incidunt dolore molestiae unde debitis eveniet id repellendus eum tempore, aspernatur doloribus aperiam quam deleniti. Sint suscipit vel porro vero cum doloribus sed iusto ducimus mollitia error. Totam nihil odio laboriosam dignissimos reprehenderit. Reprehenderit adipisci odio iste fugit unde optio quasi perspiciatis veritatis, ab voluptatum molestias excepturi esse expedita nobis nihil itaque impedit fugiat atque quo aliquam, illo enim molestiae fuga. Placeat, amet explicabo inventore impedit necessitatibus omnis blanditiis ipsum ipsam ea. Iusto provident excepturi, ab nam eligendi pariatur maxime iste corporis doloribus ad id culpa, omnis corrupti sint, ipsa molestiae! Deleniti culpa natus voluptates est illum voluptatem sed voluptatibus modi, quidem ipsam accusamus ad doloremque aperiam ea tenetur ex soluta odit voluptatum sint, animi quod quibusdam? Accusamus, quisquam dolore similique pariatur, eum magni minus iusto nobis tempora veniam repellat fugit voluptates velit blanditiis excepturi rem beatae est obcaecati asperiores quod. Repellendus deserunt impedit dolores optio fugiat, nesciunt est. Totam necessitatibus nulla quo itaque dolores iste cumque. Laboriosam placeat fuga reiciendis corrupti, expedita enim distinctio? Voluptate dolor repellendus pariatur, blanditiis non iusto ducimus excepturi tempore quo sequi quisquam, ex similique. Nesciunt possimus harum laborum adipisci doloremque, inventore eius, dolorem nisi tempora cumque ut suscipit!</p>
                </section>
        </main>
        <div class="contain-form hide">
            <form action="" id="complain">
                <div class="heading">
                    <label for="title-"></label>
                    <input type="text" name="title" id="title-" placeholder="Short description/title">
                </div>
                <div class="body">
                    <label for="body-"></label>
                <textarea name="body" id="body-" cols="30" rows="10" placeholder="Body of the message"></textarea>
                </div>
                <button type="submit">send</button>
            </form>
        </div>
    </article>
    <script src="https://kit.fontawesome.com/3c5dd8b0d1.js" crossorigin="anonymous"></script>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/sDashboard.js"></script>
</body>
</html>