<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery: Admin</title>
    <link rel="stylesheet" href="/styles/support.css">
    <script src="https://kit.fontawesome.com/3c5dd8b0d1.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <h1 style="font-family: monospace;">@support</h1>
        <div class="user">
            <img src="/images/user3.png" alt="" width="50" height="50">
            <div class="icon">
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="logout"><span style="color: red;"><a href="/admin/login">logout</a></span><span>Admin</span></div>
        </div>
    </nav>
    <main id="new-student">
        <div class="action">
            <div class="add-new-student">
                <form action="" method="post" id="add-new">
                    <div class="first-name common">
                        <label for="firstname"><i class="fa-regular fa-user fa-lg"></i></label>
                        <input type="text" required id="firstname">
                    </div>
                    <div class="second-name common">
                        <label for="secondname"><i class="fa-solid fa-user fa-lg"></i></label>
                        <input type="text" required id="second-name">
                    </div>
                    <div class="email common">
                        <label for="email"><i class="fa-solid fa-envelope fa-lg"></i></label>
                        <input type="email" required id="email">
                    </div>
                    <div class="password common">
                        <label for="password"><i class="fa-solid fa-key fa-lg"></i></label>
                        <input type="password" required id="password" value="1234567">
                    </div>
                    <div class="matric common">
                        <label for="Text"><i class="fa-solid fa-m fa-lg"></i></label>
                        <input type="text" required id="password" value="" style="text-transform: uppercase;">
                    </div>
                    <div class="department common">
                        <label for="department"><i class="fa-solid fa-institution fa-lg"></i></label>
                        <input type="text" required id="department" style="text-transform: capitalize;">
                    </div>
                    <button class="btn-add">Add New</button>
                </form>
            </div>
            <div class="info">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit tempora eligendi atque temporibus facere dignissimos hic consequatur dolorum minus laborum aut distinctio recusandae harum, voluptas, dolorem cumque fugiat dolore, reprehenderit illum esse impedit eum? Iure hic harum fuga minima! Iure mollitia molestiae nisi soluta assumenda.
                </p>
                <div class="btn">
                    <button id="manage-message">Manage message</button>
                    <button id="send-message">Send Message</button>
                </div>
                <button id="view-student">Students</button>
            </div>
        </div>
        <div class="new-student">
            <a href="#new-student">            <i class="fa-solid fa-circle-plus fa-xl" style="color: purple;"></i>
            <span class="new-stud">
                New student
            </span>
        </a>

        </div>
        <div class="">
            <div class="messages">
                <h2 style="font-family: monospace; margin: 15px;">Messages from student</h2>
                <div class="canc">
                    <i class="fa-solid fa-circle-xmark" style="color: red; position: absolute; right: 5%; top: 5%; "></i>
                </div>
                <% for( let index = 0; index < 19; index++ ) { %>
                <div class="s">
                    <div class="info">
                    <div class="name"><p>Oguntola Damilola</p></div>
                    <div class="email"><p>damisco005@gmail.com</p></div>
                    <div class="title"><b>Longitudinal issues of lenght</b></div>
                </div>
                    <div class="user">
            <img src="/images/user3.png" alt="" width="50" height="50">
                    </div>
                </div>
                <% } %>
            </div>
            
            <div class="current-msg ">
                <h3 class="">Message title always at the top</h3>
                <div class="body"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illo harum placeat quae blanditiis fugiat repellendus, nemo neque quis cumque libero iusto nostrum voluptates, quaerat modi animi corrupti eveniet totam dolorem deserunt maxime quia nihil sint sed! Aut dolorum soluta voluptatum sint aspernatur molestias laudantium similique consequatur! Vel, saepe?
                </p>
                </div>
            </div>
        </div>

        <!--STUDENTS ALGORITHM-->
        <div class="students">
            <table border="1">
                <thead>
                    <th>S/N</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>DEPARTMENT</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


        <!--SEND ALGORITHM-->
        <div class="contain-to-send hide">
            <div class="to-send">
                <div class="cancel">
                    <i class="fa-solid fa-circle-xmark" style="color: red; position: absolute; right: 5%; top: 5%; "></i>
                </div>
                <form action="/post" method="post">
                <div class="case">
                    <select name="format" id="format">
                        <option value="" selected disabled>Select format</option>
                        <option value="image">Image</option>
                        <option value="text">Text</option>
                        <option value="document">File</option>
                    </select>
                </div>
                <div class="sending">
                    <input type="file" accept="application/pdf" class="hide">
                    <div class="img hide">
                        <input type="file" accept="image/*" placeholder="Title" maxlength="39"/>
                        <input type="text" name="title" maxlength="25"/>
                        <textarea id="bod" name="body" id="" cols="30" rows="7" maxlength="75" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="write hide">
                    <!--<input type="text" placeholder="Title">-->
                    <textarea name="message-body" id="" cols="30" rows="10" placeholder="Write a general message"></textarea>
                </div>
                <button disabled="disabled" id="upload">Upload</button>
            </form>
            </div>
        </div>
    </main>
    <footer><small>&copy; CDM SOFTWARES</small></footer>
    <script src="/javascript/support.js"></script>
</body>
</html>