*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 10vh;
    box-shadow: .5px .5px 7px #ccc;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 99;
    background-color: white;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    display: block;
}
:root{
    --main-color: #0f1115;
    --primary-color: white;
    --secondary-color: cyan;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    height: 100vh;
}
.error{
    font-family: segoe print, monospace, segoe script;
    color: red;
    margin-left: 11px;
    font-size: .7rem;
}
nav h1{
    font-size: 2rem;
    margin: auto 15px;
}
.user{
    margin: auto 15px;
}
.user img{
    border-radius: 50%;
}
.user .fa-caret-down{
}
main{
    width: 100%;
    width: 100%;
    display: block;

}
main form{
    margin: 75px auto;
    padding: 25px;
    border: 3px double #ccc;
    width: 30vw;
    height: fit-content;
    border-radius: 7px;
}
.username, .password{
    margin: 35px 15px;
    width: 100%;
    height: fit-content;
}
input{
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    outline: none;
    padding: 5px;
}
button{
    margin: 5px 15px;
    padding: 9px;
    width: fit-content;
    outline: none;
    border: none;
    background-color: #0f1115;
    color: var(--primary-color);
    border-radius: 5px;
}